@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Yield Weather</h1>
    <p class="lead">The weather application is a simple web application to display current weather and 5 day forecast for two cities - Sydney, NSW and Hobart, Tazmania. The weather data is fetched by web service calls to http://openweathermap.org/api.</p>    
</div>

<div class="row">
    <div class="col-sm-4 col-md-4 col-lg-4" >
        <h2>Getting started</h2>
        <p>
            Select the city and the units to get current weather or 5 day forecasts.
        </p>        
    </div>
    <div class="col-sm-4 col-md-4 col-lg-4">
        <h3>Current Weather</h3>
       
    </div>
    <div class="col-sm-4 col-md-4 col-lg-4">
        <h3>5 day forecast</h3>        
    </div>
</div>