<appSettings>
  <!-- OpenWeather Configs-->
  <add key="token" value="003eb7a7d55b82788dbe5f66b766688f" />
  <add key="sydney_city_id" value="6619279" />
  <add key="hobart_city_id" value="2163355" />
  <add key="units_celsius" value="metric" />
  <add key="units_farenheit" value="imperial" />

  <add key="" value="http://api.openweathermap.org/data/2.5/weather" />
  <add key="" value="http://api.openweathermap.org/data/2.5/forecast/city" />

</appSettings>
