@model YieldWeather.Web.Models.WeatherRequestModel

@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Yield Weather</h1>
    <p class="lead">The weather application is a simple web application to display current weather and 5 day forecast for two cities - Sydney, NSW and Hobart, Tazmania. The weather data is fetched by web service calls to http://openweathermap.org/api.</p>
</div>

<div class="row">
    <div class="col-sm-4 col-md-4 col-lg-4">
        <h2>Getting started</h2>
        <p>
            Select the city and the units to get current weather or 5 day forecasts.
        </p>
    </div>
    <div class="col-sm-4 col-md-4 col-lg-4">
        <div class="panel panel-default">
            <div class="panel-heading">Current Weather</div>
            <div class="panel-body">
                <p>This displays the current weather. Please select the city and the units and hit go! </p>

                @using (Html.BeginForm("GetCurrentWeather", "Weather", null, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                    <label for="city">Select City:</label>

                    @Html.DropDownListFor(model => model.CityId, new SelectList(new[] { new KeyValuePair<string, int>("Sydney, NSW", 6619279), new KeyValuePair<string, int>("Hobart, TAZ", 2163355) }, "Value", "Key"), new { @class = "form-control" });
                    <br />
                    <label for="unit">Select Units:</label>

                    @Html.DropDownListFor(model => model.Unit,  new SelectList(new[] { new KeyValuePair<string, string>("Celsius", "metric"), new KeyValuePair<string, string>("Farenheit", "imperial"), new KeyValuePair<string, string>("Kelvin", "default") }, "Value", "Key"), new { @class = "form-control" });
                    <br />
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="submit">GO!</button>
                    </span>
                }




            </div>
        </div>
       
    </div>
    <div class="col-sm-4 col-md-4 col-lg-4">
        <div class="panel-heading">5 Day Weather forecast</div>
        <div class="panel-body">
            <p>This displays the 5 day weather forecast. Please select the city and the units and hit go! </p>


            @using (Html.BeginForm("GetFiveDayForecast", "Weather", null, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                <label for="city">Select City:</label>

                    @Html.DropDownListFor(model => model.CityId, new SelectList(new[] { new KeyValuePair<string, int>("Sydney, NSW", 6619279), new KeyValuePair<string, int>("Hobart, TAZ", 2163355) }, "Value", "Key"), new { @class = "form-control" });
                <br />
                <label for="unit">Select Units:</label>

                    @Html.DropDownListFor(model => model.Unit, new SelectList(new[] { new KeyValuePair<string, string>("Celsius", "metric"), new KeyValuePair<string, string>("Farenheit", "imperial"), new KeyValuePair<string, string>("Kelvin", "default") }, "Value", "Key"), new { @class = "form-control" });
                <br />
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="submit">GO!</button>
                    </span>
            }
        </div>
        <!-- Table -->
        <table class="table">
            ...
        </table>
    </div>
</div>